.idea/
*.DS_Store

artifacts/
demo-apps/

# Ignore Xcode related files
build/
payload/
Payload/
*.ipa
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
*/test_classes.txt
*/test_classes_and_tests.txt
gitpod/bin/saucectl
bin/
